<div class="container pt-5">
  <mat-card class="col-6 mx-auto text-center">
    <h1 class="display-4 mb-5">Login Form</h1>
    <form [formGroup]="loginForm" (ngSubmit)="clickLogin()" autocomplete="off">
        <mat-form-field class="col-8 mt-3 mx-auto">
          <mat-label>Username:</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error *ngIf="loginForm.get('username')">Invalid username</mat-error>
        </mat-form-field>
        <mat-form-field class="col-8 mt-3 mx-auto">
          <mat-label>Password:</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')">Invalid password</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" color="primary" class="col-4 my-3" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>    
      <div>
        <button mat-raised-button type="button" (click)="clickRegister()">Register</button>
      </div>
  </mat-card>
</div>